<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<h1>
    Edit Todo
</h1>
<div>
    <form action="#" th:action="@{/edit}" th:object="${todo}" method="post">
        <input id="id" placeholder="id" th:field="*{id}" type="hidden">

        <input type="text" th:field="*{title}">

        <label for="urgent">Urgent</label>
        <input id="urgent" placeholder="urgent" th:field="*{urgent}" type="checkbox">

        <label for="urgent">Urgent</label>
        Done<input id="done" type="checkbox" th:field="*{done}" placeholder="done">

        <label for="content">Content</label>
        Content<input id="content" type="text" th:field="*{content}">

        <label for="description">Description</label>
        <input id="description" type="text" th:field="*{description}">

        <input type="submit" value="Edit">
    </form>
</div>


</body>
</html>