<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


</head>
<body>
<div align="center">

    <h1><a th:href="@{/}">Tasks</a></h1>

    <form action="#" th:action="@{/search}" method="get">
        <input id="search" name="search" type="text" placeholder="What are You looking for" aria-label="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>

    <div name="create">
        <a href="/create">New Todo</a>
    </div>


    <div style="margin: 0% 10%">
        <h2 th:text="${search != null}? ('Search for: '+ ${search})"></h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th hidden>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Assignees</th>

                <th>Date</th>
                <th>Urgent</th>
                <th>Done</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="todo : ${todos}" th:object="${todo}"
                th:style="*{done}? 'background-color: lightgreen;': (*{urgent}? 'background-color: yellow;':'' )">
                <td th:text="*{id}" hidden="hidden"></td>
                <td>
                    <a th:href="@{/{id}/info(id=*{id})}" th:text="*{title}"></a>
                </td>
                <td th:text="*{content}"></td>
                <td ><a href="#" th:href="@{/{id}/info(id=*{id})}" th:text="*{assignees.size()}" </td>
                <td th:text="*{dateOfCreation}"></td>
                <td th:text="*{urgent}"></td>
                <td th:text="*{done}"></td>
                <td>
                    <form action="#" th:action="@{'/'+ ${todo.id}+'/edit'}" method="get">
                        <input type="submit" value="edit">
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{'/'+ ${todo.id}+'/delete'}" method="post">
                        <input type="submit" value="delete">
                    </form>
                </td>
            </tr>
            </tbody>

            </tr>
        </table>
        <a href="/list?isActive=true">Active</a>
        <br>
        <a th:href="@{/assignees}">List of assignees</a>

    </div>
</div>
</body>
</html>
